<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=PT+Sans:400,400italic,700|Abril+Fatface">
<script src="/public/js/fontfaceobserver.js"></script>
<script>
    (function( w ){
        if( w.document.documentElement.className.indexOf( "fonts-loaded" ) > -1 ){
            return;
        }
        var font1 = new w.FontFaceObserver( "PT Sans",
            { weight: 400 },
            { weight: 700 },
            { weight: 400, style: "italic" }
        );
        var font2 = new w.FontFaceObserver( "Abril Fatface",
            { weight: 400 }
        );
        w.Promise
            .all([font1.check(), font2.check()])
            .then(function(){
                w.document.documentElement.className += " fonts-loaded";
            });
    }( this ));
</script>